<div class="container">
  <div class="row">
    <h2 class="text-center">Cursos</h2>
    <% @courses.each_slice(3) do |slice| %>
    <div class="row">
      <% slice.each do |course| -%>
      <div class="col-md-3 text-center">
        <div class="box">
          <div class="box-content">
            <h1 class="tag-title"><%= link_to course.name, course %></h1>
            <hr />
            <%= link_to (image_tag course.image.url(:large), class: 'img-responsive'), course %>
          </div>
        </div>
      </div>
      <% end %>
    </div>   
    <% end %>
  </div>
</div>