.user-container-brand{
  min-height: 20px;
  padding: 19px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  display:block;
}

.user-container-brand .brand-path{
  background-color: #60bd68;
  border: 1px solid #5bb663;
  margin-left: -20px;
  margin-right: 10px;
  padding: 20px;
  margin-top:20px;
  color: #fff;
  position:relative;
  display: inline;
}
