.navbar-home {
  background-color: transparent;
  border-color: transparent;
}
.navbar-home .navbar-brand {
  color: #ffffff;
}
.navbar-home .navbar-brand:hover,
.navbar-home .navbar-brand:focus {
  color: #e6e6e6;
  background-color: transparent;
}
.navbar-home .navbar-text {
  color: #ffffff;
}
.navbar-home .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-home .navbar-nav > li > a:hover,
.navbar-home .navbar-nav > li > a:focus {
  color: #c0c0c0;
  background-color: transparent;
}
.navbar-home .navbar-nav > .active > a,
.navbar-home .navbar-nav > .active > a:hover,
.navbar-home .navbar-nav > .active > a:focus {
  color: #c0c0c0;
  background-color: #0072ab;
}
.navbar-home .navbar-nav > .disabled > a,
.navbar-home .navbar-nav > .disabled > a:hover,
.navbar-home .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-home .navbar-toggle {
  border-color: #fff;
}
.navbar-home .navbar-toggle:hover,
.navbar-home .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-home .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-home .navbar-collapse,
.navbar-home .navbar-form {
  border-color: #0070a8;
}
.navbar-home .navbar-nav > .dropdown > a:hover .caret,
.navbar-home .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.navbar-home .navbar-nav > .open > a,
.navbar-home .navbar-nav > .open > a:hover,
.navbar-home .navbar-nav > .open > a:focus {
  background-color: #0072ab;
  color: #c0c0c0;
}
.navbar-home .navbar-nav > .open > a .caret,
.navbar-home .navbar-nav > .open > a:hover .caret,
.navbar-home .navbar-nav > .open > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.navbar-home .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
@media (max-width: 767) {
  .navbar-home .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-home .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-home .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #c0c0c0;
    background-color: transparent;
  }
  .navbar-home .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-home .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-home .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #c0c0c0;
    background-color: #0072ab;
  }
  .navbar-home .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-home .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-home .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-home .navbar-link {
  color: #ffffff;
}
.navbar-home .navbar-link:hover {
  color: #c0c0c0;
}

.be-professor {
  margin-top: 26px;
  float: right;
}

.navbar-home.navbar-shrink {
  padding: 10px 0;
  background-color: #F05F40;
}

.navbar-shrink .be-professor{
  margin-top: 16px;
}
