<div class="col-sm-2">
	<ul class="list-group">
		<%= link_to "<i class='fa fa-home'></i> Home".html_safe, admin_path, class: 'list-group-item' %>
	</ul>

	<ul class="list-group">
    <%= link_to "<i class='fa fa-graduation-cap'></i> Cursos".html_safe,  admin_courses_path, class: 'list-group-item' %>
    <%= link_to "<i class='fa fa-bookmark'></i> Conceitos".html_safe,  admin_concepts_path, class: 'list-group-item' %>
    <%= link_to "<i class='fa fa-file-text-o'></i> Conteúdos".html_safe,  admin_contents_path, class: 'list-group-item' %>
  </ul>
</div>